@use "../variables";

/* Contact section */
.contact-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  a {
    margin: 3% 0;
    padding: 0 8px;
    font-size: 1.25em;
    box-shadow: 5px 5px darkgray;
  }
}

.contact-resume:active,
.contact-linkedin:active,
.contact-github:active,
.contact-email:active {
  transform: translateY(4px); /* push down on buttons */
  box-shadow: 2px 2px black;
}

.contact-github,
.contact-email {
  transition: color variables.$color-transition,
    border-color variables.$color-transition;
}

/* Mimic Bootstrap's button outline */
.contact-email {
  color: indigo;
  border-color: indigo;
}

.contact-email:hover {
  color: white;
  background-color: indigo;
  border-color: indigo;
}

.contact-email:focus {
  box-shadow: 0 0 0 0.25rem rgba(75, 0, 130, 0.5); /* indigo = #4B0082 */
}

.contact-email.dark {
  color: variables.$indigo-400;
  border-color: variables.$indigo-400;
}

.contact-email.dark:hover {
  color: black;
  background-color: variables.$indigo-400;
  border-color: variables.$indigo-400;
}

.contact-email.dark:focus {
  box-shadow: 0 0 0 0.25rem rgba(133, 64, 245, 0.5);
}
