/* General styles */
body {
  /* Background fills entire screen */
  background: linear-gradient(indigo, cyan) no-repeat center fixed;
  font-family: Verdana, Courier New, Arial, Sans-serif; /* Font that distinguishes 1ijlIJ5SoO0 */
}

a {
  color: black; /* Remove default blue color */
}

header,
nav,
main,
footer {
  background-color: white;
  padding: 0.5%; /* Create space between words and white rectangles */
}

main {
  border-radius: 5%;
}

.App {
  text-align: center;
  margin: 3%;
}

/* Transition effects */
.left .slide-enter {
  transform: translate(110%);
}

.right .slide-enter {
  transform: translate(-110%);
}

.left .slide-enter.slide-enter-active,
.right .slide-enter.slide-enter-active {
  transform: translate(0%);
  transition: 600ms ease-in-out;
  position: fixed;
  width: 100%; /* Match contact's width with other components */
}

.left .slide-exit,
.right .slide-exit {
  transform: translate(0%);
}

.left .slide-exit.slide-exit-active {
  transform: translate(-110%);
  transition: 600ms ease-in-out;
  position: relative;
}

.right .slide-exit.slide-exit-active {
  transform: translate(110%);
  transition: 600ms ease-in-out;
  position: relative;
}

/* Heading */
.heading {
  padding-bottom: 0;
}

.heading-name {
  font-size: 2em;
  font-weight: bold;
}

.heading-headline {
  font-weight: normal; /* Remove bold */
  font-size: 1.5em;
  padding-bottom: 0.5%;
}

/* Nav */
.links {
  font-size: 1.5em;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: khaki;
  display: flex;
}

.links a {
  text-decoration: none; /* No underline normally */
}

.links-about:hover,
.links-projects:hover,
.links-contact:hover {
  /*border-bottom: 2px solid black;*/
  background-color: lightgray;
}

.sticky {
  position: fixed; /* Keep navbar at the top of the page */
  top: 0;
  left: 0;
}

/* Style main if sticky */
.sticky ~ main {
  padding-top: 20px; /* Transition smoothly between sticky and non-sticky */
}

/* Arrows */
.fa-arrow-left,
.fa-arrow-right {
  font-size: 200%;
  padding: 100% 0;
}

.arrow-left,
.arrow-right {
  width: 10%;
  margin: 0 auto;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: lightgray;
}

.arrow-left {
  float: left;
}

.arrow-right {
  float: right;
}

.about,
.projects,
.contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.about-wrapper,
.contact-wrapper {
  width: 75%;
  margin: auto;
}

.projects-wrapper {
  width: 65%;
}

/* Home & Error */
.home-info,
.error-message {
  font-size: 1.2em;
  margin: 0; /* Remove the default margins for paragraphs from Bootstrap */
}

/* Footer */
.foot {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.foot-left,
.foot-right {
  width: 100%;
}

.foot-react-img {
  width: 1.7em;
}

@media screen and (min-width: 400px) {
  /* Footer text on same line in big viewport */
  .foot-left {
    width: 50%;
    text-align: left;
  }

  .foot-right {
    width: 50%;
    text-align: right;
  }
}
