/* Projects section */
.projects-heading {
  margin-top: 0.5rem;
}

.projects-list {
  padding: 0 5%;
  display: flex; /* List all projects as cards */
  flex-wrap: wrap;
}

.projects-list li {
  list-style-type: none; /* Remove bullet points */
  position: static; /* Put behind the sticky navbar */
  border: 1px solid black;
  margin: 3% auto; /* Centers cards among each other */
  width: 45%;
}

@media screen and (max-width: 800px) {
  .projects-list li {
    width: 100%; /* If viewport is too small, have one card per row */
  }
}

.projects-name {
  font-size: 1.3em;
  font-weight: bold;
  margin: 5%;
}

.projects-image {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.projects-about {
  margin: 1rem 1%; /* 1rem top-bottom & 1% left-right */
}

.projects-technology-header {
  color: blue;
  margin-bottom: 0;
}

.projects-technology-container {
  margin-bottom: 3%;
}

.projects-technology {
  margin: 1%;
}

.projects-website,
.projects-repo {
  margin: 2% auto;
}
