.App {
  text-align: center;
}

.about {
  margin: 1%;
}

.about-headshot {
  transform: rotate(90deg);
  width: 50%;
  max-width: 300px;
  height: auto;
  float: left;
  border-radius: 100%;
}

.about-bio {
  margin: 3em 0;
}

.foot {
  margin: 1%;
}
