.App {
  text-align: center;
  margin: 1%;
}

.heading-name {
  font: Arial, Sans-serif
}

.heading-headline {
  font: normal 1em Arial, Sans-serif;
}

.links {
  font-size: 1.5em;
}

.links-about {
  float: left;
  margin-left: 10%;
}

.links-contact {
  float: right;
  margin-right: 10%;
}

.about-headshot {
  transform: rotate(90deg);
  /*width: 50%;
  max-width: 300px;
  height: auto;*/
  max-height: 100px;
  float: left;
  border-radius: 100%;
}

.about-bio {
  margin: 3em 0;
}

.foot-left {
  float: left;
}

.foot-react-img {
  width: 10%;
}

.foot-right {
  float: right;
}
