/* General styles */
body {
  /* Background fills entire screen */
  background: linear-gradient(indigo, cyan) no-repeat center fixed;
  font-family: Verdana, Courier New, Arial, Sans-serif; /* Font that distinguishes 1ijlIJ5SoO0 */
}

a {
  color: black; /* Remove default blue color */
}

.App {
  text-align: center;
  margin: 3%;
}

header,
nav,
main,
footer {
  background-color: white;
  padding: 0.5%; /* Create space between words and white rectangles */
}

main {
  border-radius: 5%;
}

/* Transition effects */
.left .slide-enter {
  transform: translate(110%);
}

.right .slide-enter {
  transform: translate(-110%);
}

.left .slide-enter.slide-enter-active,
.right .slide-enter.slide-enter-active {
  transform: translate(0%);
  transition: 600ms ease-in-out;
  position: fixed;
  width: 100%; /* Match contact's width with other components */
}

.left .slide-exit,
.right .slide-exit {
  transform: translate(0%);
}

.left .slide-exit.slide-exit-active {
  transform: translate(-110%);
  transition: 600ms ease-in-out;
  position: relative;
}

.right .slide-exit.slide-exit-active {
  transform: translate(110%);
  transition: 600ms ease-in-out;
  position: relative;
}

/* Heading */
.heading {
  padding-bottom: 0;
}

.heading-headline {
  font-weight: normal; /* Remove bold */
  font-size: 1.5em;
  padding-bottom: 0.5%;
}

/* Nav */
.links {
  font-size: 1.5em;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: khaki;
}

.links a {
  text-decoration: none; /* No underline normally */
}

.selected {
  border-bottom: 2px solid black; /* Show underline when selected */
  background-color: lightgreen;
}

.links-about:hover,
.links-projects:hover,
.links-contact:hover {
  /*border-bottom: 2px solid black;*/
  background-color: lightgray;
}

.sticky {
  position: fixed; /* Keep navbar at top of page */
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 1%;
}

/* Style main if sticky */
.sticky ~ main {
  padding-top: 20px; /* Transition smoothly between sticky and non-sticky */
}

.links-about {
  float: left;
  margin-left: 10%;
}

.links-contact {
  float: right;
  margin-right: 10%;
}

@media screen and (max-width: 400px) {
  .links-about {
    margin-left: 5%;
  }

  .links-contact {
    margin-right: 5%;
  }
}

/* Arrows */
.fa-arrow-left,
.fa-arrow-right {
  font-size: 200%;
  padding: 100% 0;
}

.arrow-left,
.arrow-right {
  width: 10%;
  margin: 0 auto;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: lightgray;
}

.arrow-left {
  float: left;
}

.arrow-right {
  float: right;
}

.about,
.projects,
.contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.about-wrapper,
.contact-wrapper {
  width: 75%;
  margin: auto;
}

.projects-wrapper {
  width: 65%;
}

/* Home & Error */
.home-info,
.error-message {
  font-size: 1.2em;
}

.error-message {
  color: crimson;
}

/* About section */
.about-headshot {
  max-height: 175px;
  border-radius: 10%;
  margin: auto;
}

/* Projects section */
.projects-list {
  padding: 0 5%;
  display: flex; /* List all projects as cards */
  flex-wrap: wrap;
}

.projects-list li {
  list-style-type: none; /* Remove bullet points */
  border: 1px solid black;
  border-radius: 10%;
  margin: 3% auto; /* Centers cards among each other */
  width: 40%;
  padding-left: 1%;
  padding-right: 1%;
}

@media screen and (max-width: 800px) {
  .projects-list li {
    width: 100%; /* If viewport is too small, have one card per row */
  }
}

.projects-name {
  font-size: 1.3em;
}

.projects-image {
  width: 90%;
}

.projects-technology {
  color: blue;
}

.projects-website,
.projects-repo {
  display: table; /* Display links separated by newline */
  margin: 3% auto;
}

/* Contact section */
.contact-row {
  display: flex;
  flex-wrap: wrap;
}

.contact-row a {
  display: table;
  margin: 3% auto;
  padding: 0 1%;
  font-size: 1.5em;
  border: 1px solid black;
  border-radius: 10%;
  box-shadow: 5px 5px darkgray;
  text-decoration: none;
}

.contact-resume:hover,
.contact-linkedin:hover,
.contact-github:hover,
.contact-email:hover {
  background-color: lightgray; /* Show link as selected */
}

.contact-resume:active,
.contact-linkedin:active,
.contact-github:active,
.contact-email:active {
  transform: translateY(4px); /* Push down on buttons */
  box-shadow: 2px 2px black;
}

.fa-file-pdf {
  color: red;
}

.fa-linkedin-in {
  color: #007bb5; /* LinkedIn blue */
}

.fa-envelope {
  color: indigo;
}

/* Footer */
.foot {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.foot-left,
.foot-right {
  width: 100%;
}

.foot-react-img {
  width: 1.7em;
}

@media screen and (min-width: 400px) {
  /* Footer text on same line in big viewport */
  .foot-left {
    width: 50%;
    text-align: left;
  }

  .foot-right {
    width: 50%;
    text-align: right;
  }
}
