@use "variables";

/* General styles */
body {
  /* Background fills entire screen */
  background: linear-gradient(indigo, cyan) no-repeat center fixed;
  font-family: Verdana, Courier New, Arial, Sans-serif; /* Font that distinguishes 1ijlIJ5SoO0 */
}

header,
main,
footer {
  color: variables.$dark-color;
  background-color: variables.$light-color;
  padding: 0.5%; /* Create space between words and white rectangles */
}

main {
  border-radius: 5%;
}

.App {
  text-align: center;
  margin: 3%;
  margin-top: 1%;
}

.App.dark {
  /* Dark themes */
  header,
  main,
  footer {
    color: variables.$light-color;
    background-color: variables.$dark-color;
  }
}

.theme-container {
  display: flex;
  padding-left: 0; /* remove default padding */

  .theme-label {
    flex: 1;
    padding-right: 10px;
    text-align: right;
  }

  #theme-switch {
    margin-left: 0;
  }
}

/* Transition effects */
.left {
  .slide-enter {
    transform: translate(110%);
  }

  .slide-exit.slide-exit-active {
    transform: translate(-110%);
    transition: 600ms ease-in-out;
    position: relative;
  }
}

.right {
  .slide-enter {
    transform: translate(-110%);
  }

  .slide-exit.slide-exit-active {
    transform: translate(110%);
    transition: 600ms ease-in-out;
    position: relative;
  }
}

.left,
.right {
  .slide-enter.slide-enter-active {
    transform: translate(0%);
    transition: 600ms ease-in-out;
    position: fixed;
    width: 100%; /* Match contact's width with other components */
  }

  .slide-exit {
    transform: translate(0%);
  }
}

/* Heading */
.heading {
  padding-bottom: 0;

  .heading-name {
    font-size: 2em;
    font-weight: bold;
  }

  .heading-headline {
    font-weight: normal; /* Remove bold */
    font-size: 1.5em;
    padding-bottom: 0.5%;
  }
}

/* Nav */
.links {
  display: flex;
  justify-content: center;
  padding: 0;

  a {
    text-decoration: none; /* No underline normally */
  }

  .links-about:hover,
  .links-projects:hover,
  .links-contact:hover {
    background-color: lightgray;
  }
}

.sticky {
  position: fixed; /* Keep navbar at the top of the page */
  top: 0;
  left: 0;
}

/* Style main if sticky */
.sticky ~ main {
  padding-top: 20px; /* Transition smoothly between sticky and non-sticky */
}

/* Arrows */
.fa-arrow-left,
.fa-arrow-right {
  font-size: 200%;
  padding: 100% 0;
}

.arrow-left,
.arrow-right {
  /* Center the arrows vertically and horizontally in the containers */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 2.5%;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: lightgray;
}

.about,
.projects,
.contact {
  /* Place the arrows near the edges and the main content in the middle */
  display: flex;
  justify-content: space-between;
}

.about-wrapper,
.contact-wrapper {
  width: 90%;
  margin: auto;
}

/* Home & Error */
.home-info,
.error-message {
  font-size: 1.2em;
  margin: 0; /* Remove the default margins for paragraphs from Bootstrap */
}

.error-message {
  color: variables.$red-700;
}

/* Footer */
.foot {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.foot-left,
.foot-right {
  width: 100%;
}

.foot-react,
.foot-mit,
.projects-github-link {
  color: var(--bs-indigo);
}

.dark .foot-react,
.dark .foot-mit,
.dark .projects-github-link {
  color: var(--bs-cyan);
}

.dark .foot-react:hover,
.dark .foot-mit:hover,
.dark .projects-github-link:hover {
  color: #0aa8bd; /* slightly darker than cyan */
}

.foot-react-img {
  width: 1.7em;
}

@media screen and (min-width: 400px) {
  /* Footer text on same line in big viewport */
  .foot-left {
    width: 50%;
    text-align: left;
  }

  .foot-right {
    width: 50%;
    text-align: right;
  }
}
