.projects-back {
  position: absolute; /* position the back button at the top left of the card */
  padding: 0;
}

.fa-times {
  font-size: 2em;
}

.project-details {
  position: static;
}

.projects-video {
  /* Portrait GIFs shouldn't be too tall and landscape GIFs should take up most of the card's width */
  max-width: 100%;
  max-height: 500px;
}

.projects-technology-header {
  color: blue; /* light theme only */
}
