/* Projects section */
.projects-wrapper {
  max-width: 90%; /* If the width of the cards extends further, add scrolling (using overflow) */
}

.projects-heading {
  margin-top: 0.5rem;
}

.projects-full-list {
  /* Remove bullet points and the padding they add to the left */
  list-style-type: none;
  padding-left: 0;
}

.projects-list {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;

  li {
    position: static; /* Put behind the sticky navbar */
    min-width: 300px; /* min-width forces the cards to be at least this wide */
    max-width: 300px; /* seriously, keep this width */
    margin-bottom: 0.25rem;
  }

  .projects-link {
    text-decoration: none;
  }
}

.projects-name {
  font-size: 1.3em;
  font-weight: bold;
}

.projects-image {
  /* Scale the images so they fit within their cards */
  max-width: 95%;
  height: auto;
}
