/* Projects section */
.projects-wrapper {
  max-width: 90%; /* If the width of the cards extends further, add scrolling (using overflow) */
}

.projects-heading {
  margin-top: 0.5rem;
}

.projects-full-list {
  /* Remove bullet points and the padding they add to the left */
  list-style-type: none;
  padding-left: 0;
}

.projects-scrolling-list {
  display: flex;
  align-items: center;
}

.projects-scroll-left,
.projects-scroll-right {
  /* Make the buttons circular */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative; /* Move the buttons about halfway into the left and rightmost cards */
  opacity: 0.75;

  .fa-arrow-left,
  .fa-arrow-right {
    font-size: 1.5em;
    padding: 0;
  }
}

.projects-scroll-left:hover,
.projects-scroll-right:hover {
  opacity: 1;
}

.projects-scroll-left {
  left: 25px;
}

.projects-scroll-right {
  right: 25px;
}

.projects-list {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;

  /* Remove the margin at the edges to keep the scroll buttons aligned properly */
  :not(:first-child) {
    margin-left: 0.5rem;
  }

  li {
    position: static; /* Put behind the sticky navbar */
    min-width: 300px; /* min-width forces the cards to be at least this wide */
    max-width: 300px; /* Seriously, keep this width */
    margin-bottom: 0.25rem;
  }

  :not(:last-child) {
    margin-right: 0.5rem;
  }

  .projects-link {
    text-decoration: none;
  }
}

.projects-name {
  font-size: 1.3em;
  font-weight: bold;
}

.projects-image {
  /* Scale the images so they fit within their cards */
  max-width: 95%;
  height: auto;
}
